<% include partials/navHeader %>
<p id="scorers" style="display:none"><%=JSON.stringify(chartData)%></p>



<h1><%=league.competition.name%></h1>


<div class="header">
  <div class="subHeader">
    <span class="icon">
      <i class="fas fa-clock"></i>
    </span>
    <div class="name">
      <strong>Matchday</strong>
      <div class="count">
        <%=league.season.currentMatchday%>
      </div>
    </div>
  </div>
  <div class="subHeader">
    <div class="icon">
      <i class="fas fa-clock"></i>
    </div>
    <div class="name">
      <strong>Matchday</strong>
      <div class="count">
        <%=league.season.currentMatchday%>
      </div>
    </div>
  </div>
  <div class="subHeader">
    <div class="icon">
      <i class="fas fa-clock"></i>
    </div>
    <div class="name">
      <strong>Matchday</strong>
      <div class="count">
        <%=league.season.currentMatchday%>
      </div>
    </div>
  </div>
  <div class="subHeader">
    <div class="icon">
      <i class="fas fa-clock"></i>
    </div>
    <div class="name">
      <strong>Matchday</strong>
      <div class="count">
        <%=league.season.currentMatchday%>
      </div>
    </div>
  </div>
</div>

<div id="chartContainer">
  <canvas id="scorersChart" width="200" height="200"></canvas>
</div>

<div class='parent'>
  <% teams.forEach((team) => { %>
      <div class="child" onclick="window.location.href='league/<%=team.id%>'">
        <%= team.name %>
        <br />
        <img src="<%=team.crestUrl%>">
      </div>
  <%})%>
</div>

<% include partials/navFooter %>
